<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!--Nav bar-->
    <div>

    </div>
    <main>
        <!--title-->
        <h1>greek and roman admin page</h1>
        <div class="contain">
                <!--Points-->
            <div class="section1">
                <div class="col roman">
                    <h3>ROMAN POINTS</h3>
                    <h2><%= romanPoints %></h2>
                </div>

                <div class="col greek">
                    <h3>GREEK POINTS</h3>
                    <h2><%= greekPoints %></h2>
                </div>
            </div>
            <br>
            <!--Go to posts, maybe show the most recent four posts-->
            <div class="section2">
                <a href="/adminEvents">Add or Remove Events</a>
                <br>
                <br>
            </div>
        <!--submit spirt day photos for points-->
            <!--<div class="section3">
                form for spirt day stuff
            </div>-->
            <!--fun quiz! (if time)-->
            <!--<div class="section4">
                button to go to fun quiz if we have time to make fun quiz :3
            </div>-->
            <!--edit button-->
            <a href="/editEnter">Add or Take Away Points</a>
            <br>
            <br>

            <a href="/">Logout</a>
        </div>
    </main>
</body>
</html>