<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Log-in</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <main>
        <h1>LOG IN</h1>

        <form action="/adminEnter" method="POST">
            <label for="key">Enter Key:</label>
            <input type="text" name="key" class="txt">
            <input type="submit" id="submit">
        </form>
    </main>
</body>
</html>