<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Point History</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <table>
        <thead>
            <th>Team</th>
            <th>Amount of Points</th>
            <th>Reason</th>
        </thead>
        <tbody>
            <% points.forEach(c => { %>
                <tr>
                  <td>
                    <%= c.team %>
                  </td>
                  <td><%= c.pointNum %></td>
                  <td>
                    <%= c.message %>
                  </td>
                  <td class="right">
                    <form action="/<%= c._id %>/delete" method="post" class="inline">
                      <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                  </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>