<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Point History</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <main>
        <a href="/">Back to Student Page</a>
    <table>
        <thead>
            <th>Team</th>
            <th>Amount of Points</th>
            <th>Reason</th>
        </thead>
        <tbody>
            <% points.forEach(c => { %>
                <tr>
                  <td>
                    <%= c.team %>
                  </td>
                  <td><%= c.pointNum %></td>
                  <td>
                    <%= c.message %>
                  </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    </main>
</body>
</html>